.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    color: #ffffff;
  }
  
  .login-container input {
    margin: 10px 0;
    padding: 15px;
    width: 300px;
    border: 2px solid #3c3567;
    border-radius: 5px;
    background-color: #121212;
    color: #ffffff;
  }
  
  .login-container input:focus {
    outline: none;
    border-color: #bb86fc;
  }
  
  .login-container button {
    padding: 15px 20px;
    font-size: 16px;
    background-color: #bb86fc;
    color: #121212;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-container button:hover {
    background-color: #9c71ff;
  }
  